@import "global.css";
body {
  background-color: var(--black);
  font-family: "Montserrat", sans-serif;
}

#ImagemLogo {
  width: 21.4rem;
  height: 9.719rem;
  margin-top: 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.2rem;
  margin-top: 2.4rem;
  margin-left: 9.6rem;
  margin-bottom: 2.4rem;
}

h2 {
  font-family: "Montserrat";
  font-size: 2.4rem;
  margin: 1.6rem 0 1.6rem 9.6rem;
}

span {
  color: var(--red);
  padding-top: 70rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
}

.ticket {
  background: url("../images/ingresso.svg") no-repeat;
  margin-left: 0.5rem;
  width: 37.9rem;
  height: 17.7rem;
  padding: 1.6rem;
  margin-bottom: 1.6rem;
  text-align: center;
}

.titulo {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  color: var(--white);
}

.fileira {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

#nome {
  font-size: 3.2rem;
}

.ticket1 {
  background: url("../images/ingresso.svg") no-repeat;
  margin-left: 9.6rem;
  width: 37.9rem;
  height: 17.7rem;
  padding: 1.6rem;
  margin-bottom: 1.6rem;
  text-align: center;
}

.data {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  color: var(--white);
  font-weight: normal;
  margin: 1.6rem 0;
}

.feito, #emandamento {
  height: 4.8rem;
  width: 4.8rem;
  margin-left: 29rem;
  margin-top: -1.6rem;
}

h3 {
    margin-top: .8rem;
}