@import "global.css";

* {
  font-family: "Montserrat";
}

header {
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem 9.6rem;
}

#logo {
  width: 181.69px;
  height: 80px;
  cursor: pointer;
}

#capafilme {
  height: 40rem;
  width: auto;
}

.progresspoint {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}

.progress {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  background-color: var(--white);
  border-radius: 50%;
  color: black;
  text-align: center;
}

.progress ~ p {
  font-size: 1.6rem;
  margin-top: 0.8rem;
}

.progress-container {
  display: flex;
  gap: 4rem;
  margin-right: 12rem;
}

#finalizar {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  width: 181px;
  height: 42px;
  padding: 5px;
  border-radius: 10px;
  text-align: center;
  color: var(--white);
  background-color: var(--red);
  text-decoration: none;
}

#divisor {
  height: calc(100vh - 12.8rem);
  display: flex;
  justify-content: center;
  align-items: center;  
}

.page-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5.4rem;
}

#filmenome {
  font-size: 3.2rem;
  text-align: center;
  font-weight: normal;
}

#filmeinfo {
  font-size: 16px;
  text-align: center;
}

.info-container {
  display: flex;
  gap: 0.8rem;
  justify-content: center;
  align-items: center;
  margin: 0.4rem;
}

#filmeinfo > tr,
th,
td {
  padding: 0 1.6rem 0 1.6rem;
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: .8rem 0;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

#assentos, #snacks {
  border-collapse: separate;
  border-spacing: 0 1.4rem;
  background-color: #131313;
  border-radius: 1rem;
  padding: .8rem;
  width: 49%;
}

#assentos div, #snacks div {
  font-size: 2.4rem;
  padding: .8rem;
}

#assentos td, #snacks td {
  font-size: 1.6rem;
}

.total-container {
  display: flex;
  font-size: 1.6rem;
  justify-content: center;
}

.total-container > p {
  background-color: var(--red);
  color: var(--white);
  padding: .8rem;
  border-radius: 1rem 0 0 1rem;
}

#totalvalue {
  background: none;
  border: 1px solid var(--red);
  padding: .8rem 1.6rem;
  border-radius: 0 1rem 1rem 0;
}

.finalizar-container {
  display: flex;
  justify-content: end;
  margin-top: -1.6rem;
}

section {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}